---
layout: default
---

<div class="container py-4 py-md-5">
    <div class="bg-danger text-white p-3 p-sm-4 p-md-5 rounded mb-5">
        <h2 class="display-4">Energy prices are soaring</h2>
        <p class="h2">Are you a worried tenant?<br>Here’s one easy way to take control.</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>The energy efficiency of your home can play a massive part in your energy costs. Your home should have an EPC certificate which shows its energy efficiency on an A–G scale, along with steps you can take to improve it.</p>
            <img src="{{ '/static/img/epc.jpg' | relative_url }}" width="1068" height="638" alt="" class="my-4">
            <p><strong>By law, rental properties in the UK must have an EPC rating of E or above.</strong> Still, as many as 1 in 20 rental properties in the UK currently fall below this threshold.</p>
            <p>If you’re renting a property, and it has an EPC rating of F or G, there are steps you can take to get your landlord to fix it, making your home easier and cheaper to heat.</p>
        </div>
        <div class="col-md-5 offset-md-1">
            <h3 class="h5 mb-3">This free tool from UK charity mySociety will show you:</h3>
            <ul class="list-unstyled">
                <li class="d-flex align-items-center mb-3">
                    {% include icons/check.html classes="me-2 flex-grow-0 flex-shrink-0 text-success" %}
                    <span class="flex-grow-1 flex-shrink-1">Your home’s EPC rating</span>
                </li>
                <li class="d-flex align-items-center mb-3">
                    {% include icons/check.html classes="me-2 flex-grow-0 flex-shrink-0 text-success" %}
                    <span class="flex-grow-1 flex-shrink-1">Common EPC pitfalls and mistakes to check for</span>
                </li>
                <li class="d-flex align-items-center mb-3">
                    {% include icons/check.html classes="me-2 flex-grow-0 flex-shrink-0 text-success" %}
                    <span class="flex-grow-1 flex-shrink-1">Next steps, tailored to you, for making your home easier and cheaper to heat</span>
                </li>
                <li class="d-flex align-items-center mb-3">
                    {% include icons/check.html classes="me-2 flex-grow-0 flex-shrink-0 text-success" %}
                    <span class="flex-grow-1 flex-shrink-1">Tenant support organisations that can help</span>
                </li>
            </ul>

            <form action="{{ 'epc' | relative_url }}" class="card p-3 p-lg-4 mt-5 shadow">
                <legend class="h5">Enter your postcode and tenancy duration to get started:</legend>
                <div class="mb-3">
                    <label for="postcode" class="form-label">Postcode</label>
                    <input class="form-control" id="postcode" style="text-transform: uppercase">
                </div>
                <div class="mb-3">
                    <label for="tenancy" class="form-label">Tenancy type</label>
                    <select class="form-select" id="tenancy">
                        <optgroup label="Private rental tenant">
                            <option>I’ve rented here for more than a year</option>
                            <option>I’ve rented here for less than a year</option>
                        </optgroup>
                        <optgroup label="Other type of tenancy">
                            <option>I’m a social housing tenant</option>
                            <option>I own this property</option>
                        </optgroup>
                    </select>
                </div>
                <button type="submit" class="btn btn-success">Find my EPC</button>
            </form>
        </div>
    </div>

</div>
